* 

body {
  margin: 0;
  font-family: 'Fire Code', monospace;
  color: e0e0e0;
  background-color: #111;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
li {
  color: #ee53b8;
  margin-bottom: 5px;
  font-family: 'JetBrains Mono', monospace;
}
strong {
  color: rgb(79, 192, 200);
}

header {
  text-align: center;
}
header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px e solid #888;
}
h1 {
  color: #ef73b9;
}
h2 {
  color: #8be9fd;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
  margin-top: 30px;
}
h4 {
  color: rgb(164, 125, 194);

}
p {
  color: #ac7bec;
}
a {
  color: blueviolet;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.skills li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #282a36;
  border-radius: 5px;
  color: #f1fa8c;
  margin-bottom: 5px;
}
    ul {
      list-style: disc;
      padding-left:  0;
    }
    section p,
    section li {
      margin-bottom: 5px;
    }
    .info p {
      margin: 4px 0;
      font-size: 0.95em;
    }


